# .NET build output
bin/
obj/

# Visual Studio files
.vs/
*.user
*.userosscache
*.suo
*.userprefs

# Rider
.idea/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Cake Tools and Build Tools
tools/**
!tools/packages.config

# Test Results
[Tt]est[Rr]esult*/
TestResults/
*.trx

# NuGet Packages
*.nupkg
*.snupkg
packages/

# Visual Studio Code
.vscode/

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# NCrunch
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*

# Publish outputs
publish/
*.azurePubxml
*.[Pp]ublish.xml

# Others
*.cache
*.log
*.tmp
*~
